.buttonUpgrade {
    width : 202px;
    height: 150px;
    color : #ffffff;
    transition-duration : 0.2s;
    border-style: solid;
    border-width: 3px;
    border-color : #ffee00;
}

.upgradeIsNotBought {
    background-color : #a8c500;
}

.upgradeIsBought {
    background-color: #00b7ff;
}

.upgradeIsRepealed {
    background-color: #ff0000;
    border-color : #ffffff;
}